* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .bodyJugadores {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: rgb(253, 209, 187); */ 
    /* color: rgb(18, 18, 18); */
    transform-style: preserve-3d;
    background-color: rgb(0, 0, 0);
    color: #fff;
    transition: 1000ms;
    gap: 2rem;
  }

  /* cambio de fondo */
  .fondo-uno{
    background-color: rgb(240, 139, 128);
  }

  .fondo-dos{
    background-color:  rgb(152, 118, 220);
  }

  .fondo-tres{
    background-color:  rgb(128, 206, 240);
  }


  .Njugadores{
    margin-top: 1rem;
    font-size:x-large;
  }
  .imgJugadores{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background-color: transparent;
  }

  .bodyJugadores .imgJugadores:hover{
    /* height: 11rem;
    width: 11rem; */
    box-shadow: 0px 0px 30px rgb(46, 211, 0);
  }

  .body .btns{
    justify-content: center;
  }
  
  .btnCrearJugador {
    color: #fff;
    justify-content: center;
    align-content: center;
    padding: 0;

    border: 2px solid  rgb(181, 248, 145);
    background-color: rgb(181, 248, 145);
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
  }

  .btnCrearJugador:hover{
    color: #fff;
    border-color: transparent;
    background-color:  rgb(181, 248, 145);
    box-shadow: 0px 0px 20px rgb(46, 211, 0);
  }
  
  .divCrearJugador{
    text-align: center;
  }
  .ulJugadores{
    text-align: center;
    display: flex;
    gap: 2rem;
    padding: 0;
  }